
<h2 class="ui center aligned icon header">
  <i class="circular red coffee icon"></i>
  Let's talk
</h2>

<div class="ui grid">
  <div class="twelve wide column">
    <div class="ui fluid raised card chatbox">
      <div class="content">
        <div class="ui feed">
          <% @messages.each do |message| %>
          <div class="event">
            <div class="content">
              <div class="summary">
                 <em><%= message.user.username %></em>: <%= message.body%>
              </div>
            </div>
          </div>
          <% end %>
        </div>
      </div>
      <div class="extra content">
        <div class="ui form">
          <div class="field">
            <div class="ui input focus">
              <%= form_with scope: :message, url: messages_path, local: true do |f|%>
                <%= f.text_field :body %>

                <%= f.button "Reply", class: 'ui right labeled icon button' do %>
                  Submit for Approval <i class="right arrow icon"></i>
                <% end%>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="four wide column">
    <div class="ui fluid raised card chatbox">
      <div class="content">
        <div class="ui secondary vertical menu">
          <a class="active item">
            Account
          </a>
          <a class="item">
            Settings
          </a>
          <a class="item">
            Settings
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
